/* TABLE OF CONTENT 
I.  CUSTOM PROPERTIES / VARIABLS
II. LAYOUT
    1. General
    2. Navbar 
    3. Main
        3.1 General
        3.2 Players Section
        3.3 Table
            3.3.1 Raster
            3.3.2 Images
        3.4 Overlays
            3.4.1 Draw Popup/Screen/Window
        3.5 Footer
           
III EDITIONS
    1. Winter Edition
        1.1 Buttons
        1.1.1 General
        1.1.2 Specific


*/

/* =============================
I. CUSTOM PROPERTIES / VARIABLES 
================================*/
:root {
    --w-row: 400px;
    --h-row: calc(var(--w-row) / 3);
    --w-data: calc(var(--w-row) / 3);
    --h-data: calc(var(--w-row) / 3);
    --opac-no-turn: 0.6;
    --opac-turn: 1;

}

/* =======
II. LAYOUT
=========*/

/* 1. General */

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    color: black;
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    font-family: 'Chicle';
    height: 100vh;
}


*:focus {
    border-bottom: 3px solid rgb(25,135,84);
}

.unclickable {
    pointer-events: none;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center!important;
}

.flex-end {
    justify-content: flex-end !important;
}

/* 2. Navbar */


.navbar-top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: white !important;
    z-index: 1;
}
.game-name {
    font-size: 32px;
}

/* 3. Main */

/* 3.1 General */
main {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* einfach footer auf absolut */
    padding: 96px 0 82px 0 !important;
    background-image: linear-gradient( 0deg, #e5b8b8,#bf5959a7, #c43939b9);
}



/* 3.2 Players Section */
.players-container {
    width: var(--w-row);
}

.status {
    height: 150px;
    border-radius: 50%;
}

.players {
    /*  flex-basis: 100%; */
    flex-direction: column;
    height: 200px;
    width: 200px;
    margin-bottom: 16px;
    background-color: rgba(232, 103, 22, 0.668);
    opacity: var(--opac-no-turn);
}

.player1 {
    margin-right: 8px;
}

.player-icon {
    height: 64px;
    width: auto;
}

h2 {
    color: white;

}

.turn {
    border: 5px solid rgb(230, 34, 51);
    opacity: var(--opac-turn);
}

.victory {
    flex-basis: unset;
    width: 200px;
    opacity: 1;
    border: 10px solid rgb(255, 215, 0);
}


/* 3.3  Table */
/* 3.3.1 Raster*/
table {
    max-width: var(--w-row);
    max-height: var(--w-row);
    border-collapse: collapse;
    border-style: hidden;
}

tr {
    width: var(--w-row);
    height: var(--h-row);
}

td {
    position: relative;
    width: var(--w-data);
    height: var(--h-data);
    border: 5px solid black;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

td:hover {
    background-color: rgba(0, 214, 46, 0.2);
    transition: all 225ms ease-in-out;
}

/* 3.3.2 Images */

.d-none {
    display: none !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-column {
    flex-direction: column;
}

.images-stacked {
    position: absolute;
}

.x-o-shapes {
    height: 100px;
    width: auto;
}


/* 3.4.1 Draw Ovlay */

.draw {
    position: absolute;
    bottom: 50%;
    top: 50%;
    height: 150px;
    text-align: center;
    padding: 16px;
    background-color: #ca1616;
    border-radius: 0.375rem;
}


/* 3.5 Footer */

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    
}

.container-fluid-footer {
    justify-content: flex-end !important;
    padding: 0 6px !important;
}

.links-right {
display: flex;
justify-content: space-between;
}

.link {
    margin-right: unset !important;
    padding: 0 6px;
}

.link a{
    color: rgb(84, 65, 65) !important;
    cursor: pointer;
    
}



/* ===========
III EDITIONS
==============*/

/* 1. Winter-Edition */

/* 1.1 Buttons */
/* 1.1.1 General */

.btn {
    border: none !important;
    transition: all 10ms ease-in-out;
}

.btn:active {
    transform: scale(0.98);
    transition: all 10ms ease-in-out;
}


/* 1.1.2 Specific Buttons */
.replay {
    /*  position: absolute; */
    height: 60px !important;
    width: 120px !important;
    font-size: 24px !important;
    margin-top: 32px;
    transition: all 10ms ease-in-out;
}

.replay:active {
    transform: scale(0.98);
    transition: all 10ms ease-in-out;
}