/* TABLE OF CONTENT 
I.  CUSTOM PROPERTIES / VARIABLS
II. LAYOUT
    1. General
    2. Main
        2.1 General
        2.2 Players Section
        2.3 Table
            2.3.1 Raster
            2.3.2 Images
           
III EDITIONS
    1. Winter Edition
        1.1 Buttons
        1.1.1 General
        1.1.2 Specific


*/

/* =============================
I. CUSTOM PROPERTIES / VARIABLES 
================================*/
:root {
    --w-row: 400px;
    --h-row: calc(var(--w-row) / 3);
    --w-data: calc(var(--w-row) / 3);
    --h-data: calc(var(--w-row) / 3);
    --bc-no-turn: rgba(232, 103, 22, 0.668);
}

/* =======
II. LAYOUT
=========*/

/* 1. General */

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}


*:focus { /* muss ich noch anpassen */
    border: 1px solid black;
}

.unclickable {
    pointer-events: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 2. Main */

/* 2.1 General */
main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 50px);
}

/* 2.2 Players Section */
.players-container {
    width: var(--w-row);
}

.status {
    height: 150px ;
    border-radius: 50%;
}

.players {
    flex-basis: 100%;
    flex-direction: column;
    height: 200px;
    margin-bottom: 16px;
    background-color: var(--bc-no-turn);
}

.player1 {
    margin-right: 8px;
}

h2 {
    color: white;
    
}

.turn {
    border: 5px solid rgb(230,34,51);
}


/* 2.3  Table */
/* 2.3.1 Raster*/
table {
    max-width: var(--w-row);
    max-height: var(--w-row);
    border-collapse: collapse;
    border-style: hidden;
}

tr {
    width: var(--w-row);
    height: var(--h-row);
}

td {
    position: relative;
    width: var(--w-data);
    height: var(--h-data);
    border: 5px solid black;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

td:hover {
    background-color:rgba(0, 214, 46, 0.2);
    transition: all 225ms ease-in-out;
}

/* 2.3.2 Images */

.d-none {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-column {
    flex-direction: column;
}

.images-stacked {
    position: absolute;
}
.x-o-shapes {
    height: 100px;
    width: auto;
}


/* ===========
III EDITIONS
==============*/

/* 1. Winter-Edition */

/* 1.1 Buttons */
/* 1.1.1 General */

.btn {
    border: none !important;
    transition: all 10ms ease-in-out;
}

.btn:active {
    transform: scale(0.98);
    transition: all 10ms ease-in-out;
}


/* 1.1.2 Specific Buttons */
.replay {
    position: absolute;
    bottom: 5%;
    right: 25%;
}